<!doctype html>
<html>
  <head>
    <title>LookingGlass Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <body>
    {% if error %}
      <div class="isa_error">
	<p class=error><strong>Error:</strong> {{ error }}
      </div>
    {% endif %}

    <div class="centered-div" id="login-container" >
      <h1>Login</h1>
      <div id="login-div">
      <form action="/login" method="post">
	<table>
      	  <tr>
      	    <td><p>Username:</p></td>
      	    <td><input type="text" placeholder="username" name="username" value="{{request.form.username}}"></td>
      	  </tr>
      	  <tr>
      	    <td><p>Password:</p></td>
      	    <td><input type="password" placeholder="password" name="password" value="{{request.form.password}}"></td>
      	  </tr>
	</table>
      
	<button type="submit" id="login">&#8250;</button>
	{{ form.csrf_token }}
      </form>
      </div>
	
      <form action="/register">
	<input type="submit" value="Register New User"/>
      </form>
    </div>
  </body>
</html>
