body {
    background-color: black;
}

div.centered-div {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    text-align: justify;
    line-height: 25px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

input {
    display: block;
    height: 20px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type=submit] {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border-radius: 12px;
}
