#register-containter {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 400px;
    text-align: justify;
    line-height: 25px;
}

h1 {
    text-align: center;
}

input {
    display: block;
    width: 100%;
}

input[type=submit] {
    height: 25px;
    margin-top: 10px;
}
