* {
    margin: 0;
}
html, body {
    color: #d3d3d3;
    font: 12pt arial;
    background-color: #000000;
    height: 100%;
}
#controlPanel {
    display: none;
    background-color: #666666;
    height: 100%;
    width: 225px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 299;
    padding: 35px 15px 25px 15px;
}
.closeButton {
    position: absolute;
    top: 0;
    font-size: 25px;
    right: 10px;
}
.controlButton {
    font: bold 18px verdana;
    display: block;
    position: absolute;
} 
#openControlPanelSpan {
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}
#master-div {
    height: 100%;
    width: 100%;
    padding: 0px;
    maring: 0px;
}
#mynetwork {
    position:relative;
    height: 96%;
    margin: 0 auto;
    background-color: #000000;
}
#workspace-tabs {
    height: 25px;
    width: 100%;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    float: bottom;
}
.tab-buttons {
    background-color: #f1f1f1;
    float: left;
    border: d3d3d3;
    height: 25px;
    font: 20px arial;
    position: relative;
    bottom: 0px;
}
table.legend_table {
    font-size: 11px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
    padding: 2px;
}
div.table_content {
    width:80px;
    text-align:center;
}
div.table_description {
    width:100px;
}
#operation {
    font-size:28px;
}
#network-popUp {
    color: black;
    display:none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:299;
    width:auto;
    height:auto;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
}
#node-popup {
    position: absolute;
    display: none;
    color: black;
    width: auto;
    max-height: 200px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:5px;
    text-align: center;
    z-index: 1;
    text-align: left;
    overflow: auto;
}
