/* TODO: Fix layout on chrome and firefox */
body {
    background-color: black;
}

div.centered-div {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    text-align: justify;
    line-height: 25px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
}

#login-div {
    left: 35%;
    width: 400px;
    height: auto;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

input {
    display: block;
    height: 20px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    border-radius: 12px;
    boder: solid;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #bbb;
}

button {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    border-radius: 50%;
    font-size: 35px;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0px;
}

table {
    width: 300px;
    margin: 0 auto;
    padding-right: 50px;
}

tr {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    line-height: 0;
}
